/* Calculator container */
.calculator {
	border: 2px solid black;
	width: 200px;
	padding: 10px;
	text-align: center;
}

/* Output Field */
.output {
	width: 100%;
	margin-bottom: 5px;
}

/* Table elements */
table {
	width: 100%;
}

/* Table cells */
td {
	padding: 5px;
}

/* Input buttons */
input[type="button"] {
	width: 100%;
	font-size: 16px;
	background-color: #ddd;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* Input Buttons hovered over */
input[type="button"]:hover {
	background-color: #aaa;
	color: white;
}
